@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }
}
